*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
line-height: 1.6;
color: #333;
padding-top: 5rem;
}

h1{
    font-size: 4rem;
    color:blue;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

p{
    font-style: oblique;
    font-size: 1rem;
    line-height: 1.7rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.links{/* Estilo base para todos os links */
    color:aquamarine;
    text-decoration: none; /* Remove o sublinhado */
}

.links:visited{
    color: green;
}
.links:hover{
    color:blueviolet;
    text-decoration: underline;/* Adiciona sublinhado apenas no hover */
}

.links:active{
    color:orange;
}

nav a{
    text-decoration: none;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 1.5rem ;
}

th, td{
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid;
}

th{
    background-color: aquamarine;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color:#ddd5d5;
}